:root {
    --primary: #162F47;
    --primary-semi: #6D859F;
    --primary-light: #CBD6DA;
    --primary-semi-soft: #f7ffff;
    --primary-soft: #d5decb;
    --secondary: #FFE08A;
    --secondary-semi: #5b5b5b;
    --secondary-light: #848484;
    --secondary-semi-soft: #a8a8a8;
    --secondary-soft: #cfcfcf;
    --tertiary: white;
    --success: #2B9176;
    --danger: #E54476;
    --warning: rgb(255, 217, 0);
    --info: rgb(0, 255, 255);
    --light: #F7FFFF;
    --dark: black;
  
    /* TEXT COLORS */
    --text-primary: #162F47;
    --text-primary-semi: #6D859F;
    --text-primary-light: #CBD6DA;
    --text-primary-semi-soft: #f7ffff;
    --text-primary-soft: #d5decb;
    --text-secondary: #FFE08A;
    --text-secondary-semi: #5b5b5b;
    --text-secondary-light: #848484;
    --text-secondary-semi-soft: #a8a8a8;
    --text-secondary-soft: #cfcfcf;
    --text-tertiary: white;
    --text-success: #2B9176;
    --text-danger: #E54476;
    --text-warning: rgb(255, 217, 0);
    --text-info: rgb(0, 255, 255);
    --text-light: #f9fafb;
    --text-dark: black;
  
    /* BACKGROUNDS */
    --bg-primary: #162F47;
    --bg-primary-semi: #6D859F;
    --bg-primary-light: #CBD6DA;
    --bg-primary-semi-soft: #f7ffff;
    --bg-primary-soft: #d5decb;
    --bg-secondary: #FFE08A;
    --bg-secondary-semi: #5b5b5b;
    --bg-secondary-light: #848484;
    --bg-secondary-semi-soft: #a8a8a8;
    --bg-secondary-soft: #cfcfcf;
    --bg-tertiary: white;
    --bg-success: #2B9176;
    --bg-danger: #E54476;
    --bg-warning: rgb(255, 217, 0);
    --bg-info: rgb(0, 255, 255);
    --bg-light-semi: #cdcabb;
    --bg-light: #d9d9cd;
    --bg-dark: black;

    --deg-primary: linear-gradient(180deg, #162F47 0%, #6D859F 100%);
    --deg-secondary: linear-gradient(180deg, #727871 0%, #50574f 100%);
    --deg-tertiary: linear-gradient(180deg, #ecece2 0%, #c3c5ba 100%);
    --deg-fourty: linear-gradient(180deg, #98ac91 0%, #6b7e68 100%);
    --deg-fift: linear-gradient(180deg, #767c76 0%, #5b5f5b 100%);
    --deg-six: linear-gradient(180deg, #8b9a86 0%, #586755 100%);
    --deg-transparent: linear-gradient(90deg, #0A6E9A 0%, #2695c580 100%);
  
    /* SHADOWS */
    --ds-xs: 0px 1px 2px rgba(16, 24, 40, 0.05);
    --ds-s: 0px 0px 3px -1px black, 0px 0px 3px black;
    --ds-m: 0px 0px 3px -1px black, 0px 0px 3px -1px black;
    --ds-l: 0px 4px 6px -4px rgba(16, 24, 40, 0.1), 0px 10px 15px -3px rgba(16, 24, 40, 0.1);
    --ds-xl: 0px 8px 10px -6px rgba(16, 24, 40, 0.1), 0px 20px 25px -5px rgba(16, 24, 40, 0.1);
    --ds-xxl: 0px 40px 100px -12px rgba(16, 24, 40, 0.1);
  }